@model DataDecipher.WebApp.Models.RawDataModel

<br>
<div>Contents of the file: @Model.filePath</div>
<br /><br />
<div style="overflow: auto; width:600px; height:600px">
    <asp:TextBox textmode="multiline">
        @Model.rawData
    </asp:TextBox>
</div>
