@using Microsoft.AspNetCore.Http.Features
@{

    <div id="method" class="section">
        <div class="container-fluid">
            <div class="row>">
                <div class="col-md-4">
                    <h6>1. Define your method</h6>
                    <br />
                    <br />
                </div>
            </div>
            <div class="row>">
                <div class="col-md-4">
                    <input id="methodname" type="text" value="" placeholder="Your method name" class="form-control">
                </div>
            </div>
            <div class="row>">
                <div class="col-md-4">
                    <textarea class="form-control" placeholder="Little bit more about your method goes here" rows="5"></textarea>
                </div>
            </div>
        </div>
    </div>
}
