@using Microsoft.AspNetCore.Http.Features
@{

    <div id="method" class="section">
        <div class="container-fluid">
            <div class="row>">
                <div class="col-md-4">
                    <h6>1. Define your method</h6>
                    <br />
                </div>
            </div>
            <div class="row>">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="methodname" class="badge badge-default-noborder">Method name</label>
                        <input id="methodname" type="text" value="" placeholder="Your method name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row>">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="methoddesc" class="badge badge-default-noborder">Method description</label>
                        <textarea id="methoddesc" placeholder="Little bit more about your method goes here" class="form-control" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
