@{
    ViewData["Title"] = "Main Page";
}

<div id="page-content-wrapper">
    <div class="container-fluid">
        <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"> <i class="now-ui-icons files-paper"></i> Toggle Menu</a>
        <h5> Welcome to Data Decipher</h5>
        <p>Use instructions below to quickly obtain insights from your data and generate reports</p>
    </div>
    <div id="method" class="section">
        <div class="container-fluid">
            <div class="row>">
                <div class="col-md-4">
                    <h6>1. Define your method</h6>
                    <br />
                    <br />
                </div>
            </div>
            <div class="row>">
                <div class="col-md-4">
                    <input type="text" value="" placeholder="Your method name" class="form-control">
                </div>
            </div>
            <div class="row>">
                <div class="col-md-4">
                    <textarea class="form-control" placeholder="Little bit more about your method goes here" rows="5"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div id="datasource" class="section">
        <div class="container-fluid">
            <div class="row>">
                <div class=col-md-4>
                    <h6>2. Set datasource</h6>
                    <br />
                    <br />
                </div>
            </div>
            <div class="row>">
                <div class=col-md-6>
                    <p>Select files from your computer</p>
                    <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                        <div class="form-inline">
                            <div class="form-group">
                                <input type="file" class="file btn btn-primary btn-simple" name="files[]" id="js-upload-files" multiple>
                            </div>
                            <button type="submit" class="btn btn-primary btn-round" id="js-upload-submit">Upload files</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row>">
                <div class=col-md-4>
                    <br />
                    <p>Or drag and drop files below</p>
                    <div class="upload-drop-zone" id="drop-zone">
                        Just drag and drop files here
                    </div>
                </div>
            </div>
            <div class="row>">
                <div class=col-md-4>
                    <br />
                    <p>Or Select from existing datasources</p>
                    <div class="upload-drop-zone" id="drop-zone">
                        show already uploaded files for user here
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="instrument" class="section">
        <div class="container-fluid">
            <div class="row>">
                <div class=col-md-4>
                    <h6>3. Set instrument configuration</h6>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div id="parser" class="section">
        <div class="container-fluid">
            <div class="row>">
                <div class=col-md-4>
                    <h6>4. Set parser configuration</h6>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div id="report" class="section">
        <div class="container-fluid">
            <div class="row>">
                <div class=col-md-4>
                    <h6>5. Set reporting configuration</h6>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>


